@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-ExtraBold.woff2') format('woff2'),
        url('/fonts/Tajawal/Tajawal-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Black.woff2') format('woff2'),
        url('/fonts/Tajawal/Tajawal-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Bold.woff2') format('woff2'),
        url('/fonts/Tajawal/Tajawal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-ExtraLight.woff2') format('woff2'),
        url('/fonts/Tajawal/Tajawal-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Light.woff2') format('woff2'),
        url('/fonts/Tajawal/Tajawal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Regular.woff2') format('woff2'),
        url('/fonts/Tajawal/Tajawal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal/Tajawal-Medium.woff2') format('woff2'),
        url('/fonts/Tajawal/Tajawal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

